@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,900;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

*::selection {
    background-color: black;
    color: #D2B66E;
}

a {
    text-decoration: none;
}



.h1__index {
    justify-content: center;
    align-items: center;

}

.h1__index a {
    color: #D2B66E;
}

.bienvenidos__index {
    background-color: #000000;
    border-radius: 1rem;
    padding: 0.25rem;

}

header {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 23%, rgba(119, 87, 27, 1) 75%, rgba(252, 169, 1, 1) 100%, rgba(191, 128, 0, 1) 100%);
}

.menu {
    color: white;
    list-style-type: none;
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
}

.menu-active {
    text-decoration: underline double;
}

.nav-menu {
    background-color: black;
    box-shadow: #c99512c7;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 23%, rgba(119, 87, 27, 1) 75%, rgba(252, 169, 1, 1) 100%, rgba(191, 128, 0, 1) 100%);
}

.menu li {

    margin-right: 5px;
    border: 10px;
    border-color: goldenrod;
    padding: 5px;



}

p {
    background-color: #D2B66E;
    justify-content: center;
    margin: 10px 10px 10px 10px;
}

.menu li a {
    color: goldenrod;


}

.body-index {
    background-color: grey;
    background-image: url("./../imagenes/maser.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
    background-position-y: -300px;
    min-height: 100vh;



}

.main-index {
    padding: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    width: 30%;


}

.main-index p {
    margin: 0;
    background: transparent;
    color: white;
}


.redes-sociales {
    display: flex;
    list-style-type: none;
    margin-left: 900px;
}

.musica-section {
    padding-block: 2rem;
}

.contenedor {
    padding: 0 1.5rem;
    max-width: 1000px;
    margin: 0 auto;


}

.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    gap: 15px;
}

.form input {
    height: 30px;
    margin: 0.5rem;
    text-align: center;
    display: flex;
}

.novedades__ {
    height: 30px;
    margin: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.redes-sociales li {
    position: unset;
    width: 100px;
    height: 100px;
    text-align: right;

}

label {
    color: white;
}

h1 {
    color: #D2B66E;
    

}


.texto-sobremi {
    text-align: center;
    position: relative;
    justify-content: right;
    margin-top: 2rem;

}

.imagen-sobremi2 {
    position: relative;
    max-width: 100%;
    border-radius: 1rem;
    width: 80%;
}

.imagen-sobremi {
    position: relative;
    max-width: 100%;
    border-radius: 1rem;
    width: 90%;
}

.contacto-h {
    text-align: center;
    background-color: #303030;
    padding: 1rem;
}

h2 {
    color: #D2B66E;
}

h3 {
    color: #D2B66E;
    font-size: medium;
}

.sobre-mi {
    text-align: center;
    background-color: #303030;
    padding: 1rem;
}


body {
    background-color: #5c5b5b;
}

.galeria-fotos {
    text-align: center;
    background-color: #303030;
    padding: 1rem;
    font-size: 2rem;

}

.escucha-musica {
    text-align: center;
    background-color: #303030;
    padding: 1rem;
}

article {
    align-items: center;
}



.menu__galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 1rem;
}



.imagenlogo {
    grid-column: 1 / 3;
}


.menu__galeria>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textobio {
    padding: 2rem;
    transition: transform 1s;

}

.textobio:hover {
    transform: scale(1.1) translateY(-15px);
    cursor: pointer;
}

.texto-sobremi {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.imagen1 {
    transition: transform 2s;
}

.imagen1:hover {
    transform: scale(1.1) translateX(-1px);
    cursor: pointer;
}

.imagen2 {
    transition: transform 2s;
}

.imagen2:hover {
    transform: scale(1.1) translateX(-1px);
    cursor: pointer;
}

.imagen3 {
    transition: transform 2s;
}

.imagen3:hover {
    transform: scale(1.1) translateX(-1px);
    cursor: pointer;
}

.imagen4 {
    transition: transform 2s;
}

.imagen4:hover {
    transform: scale(1.1) translateX(-1px);
    cursor: pointer;
}

.imagenlogo {
    transition: transform 2s;
}

.imagenlogo:hover {
    transform: scale(1.1) translateX(-1px);
    cursor: pointer;
}

.footer__galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    padding-block: 1.2rem;
    background-color: black;
}

.footer__galeria a {
    color: #D2B66E;
}

.footer__galeria h2 {
    margin-bottom: 0;
}

@media (max-width:700px) {
    .menu__galeria {
        grid-template-columns: 1fr;
    }


    .imagenlogo {
        grid-column: 1 / 2;
    }

    .texto-sobremi {
        grid-template-columns: 1fr;
    }

    h3 {
        font-size: small;
    }

    .body-index {
        background-color: grey;
        background-image: url("./../imagenes/maser.JPG");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        position: relative;
        background-position-y: 70px;
        min-height: 100vh;
    }

    .bienvenidos__index {
        background-color: #000000;
        border-radius: 1rem;
        position: absolute;
        margin: 1rem;
        margin-right: 5rem;
        text-align: center center;
        justify-content: center;

    }

}